<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2244" targetFramework="xamarinmac20" />
</packages>